<div class="row">
    <div class="col">
        <h4>Today's total working time</h4>
        <h1>7:45:36</h1>
    </div>
    <div class="col">
        <h4>Clock out at:</h4>
        <h1>5:46pm</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4>Week's total working time</h4>
        <h1>38:23:02</h1>
    </div>
</div>

<!-- check boxes -->
<div class="row">
    <div class="col">
        <div class="checkbox">
            <label><input type="checkbox" value="">Option 1</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Option 2</label>
        </div>
        <div class="checkbox disabled">
            <label><input type="checkbox" value="" disabled>Option 3</label>
        </div>
    </div>

    <!-- radio buttons -->
    <div class="col">
        <div class="radio">
            <label><input type="radio" name="optradio" checked>Option 1</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="optradio">Option 2</label>
        </div>
        <div class="radio disabled">
            <label><input type="radio" name="optradio" disabled>Option 3</label>
        </div>
    </div>
    
</div>


<label>{{savedClock}}</label>
<br>
<!-- buttons -->
<button style="margin:5px" class="sprk-c-Button">Click Me</button>
<button style="margin:5px" class="sprk-c-Button">Click Me</button>
<button style="margin:5px" class="sprk-c-Button">Click Me</button>