.clock{
    font-size: 5rem;
}
#hour {
    font-family: digital-7;
  }

#min {
    font-family: digital-7;
  }

#second {
    font-family: digital-7;
  }

#ampm {
    font-family: digital-14;
}

.secsampm {
    font-size: 2.4rem;
}
  