.clock{
  font-size: 5rem;
  padding: 0;
  margin: 0;
  //border: 2px solid black;
}
#hour {
  font-family: digital-7;
}

#min {
  font-family: digital-7;
}

#second {
  //border:solid;
  padding: 0;
  margin: 0;
  font-family: digital-7;
}

#ampm {
  //border:solid;
  padding: 0;
  margin: 0;
  font-family: digital-14;
}

.secsampm {
  //border:solid;
  //padding-top: 10 px;
  margin-top: 18px;
  font-size: 1.8rem;
}
  