<div class="color-bar"></div>

<header class="container site-header">

    <div class="menu-container">

        <div class="logo-container">
            <div class="analogClock">
                <app-analog-clock></app-analog-clock>
            </div>
            <!-- <a href="/"><img id="QuickClock_logo" src="/assets/images/wd-applet-time.png" alt="Clock In and Out logo"
          style="height: 100px; margin-top: 10px;" /></a> -->
            <div class="logo-text">Clock in and out</div>
        </div>

        <div class="profile-container">

            <div class="profile-image__container">
                <div class="profile-image" style="background-image: url('/assets/images/anonAvatar.png')">
                </div>
            </div>

            <div class="profile-image__name-container">
                <div class="profile-image__name-label">
                    <h3>Your Name</h3>
                </div>
                <div class="profile-image__sub-label">
                    <h4>Job Title</h4>
                </div>
            </div>

        </div>

    </div>

</header>

<table class="mainTable">
    <tr>
        <td class="mainTableData">
            <main class="container mainTableRow">


                <div class="split-header split-header--bottom-spacing">
                    <h2 class="split-header__header">Tracking</h2>
                    <div class="split-header__tagline">Use the buttons below to track your time.</div>
                </div>

                <div class="tracking-container">
                    <div class="info-container">
                        <div class="info-message">Timecard corrections must be made by your Team Leader in Workday!</div>
                    </div>

                </div>

                <div class="dClockandButtons">
                    <div class="digitalClock">
                        <app-digital-clock></app-digital-clock>
                    </div>
                    <div class="clockInOut">
                        <app-clock-in-out></app-clock-in-out>
                    </div>
                </div>


            </main>
        </td>

        <td class="mainTableData">
            <div class="container mainTableRow right-display">
                
                <app-options-display></app-options-display>
            </div>
        </td>

    </tr>

</table>

<div class="clockTable container">
        <div _ngcontent-qyq-c0="" class="table-message">For official time records, please review your time entries and totals in
                <a href="http://shorty/WorkDayTimeSheetURL" target="_blank" class="workday-link"> Workday.</a> 
                If Workday is under maintenance then your punches will not appear until after it is complete.
            </div>
    <app-clock-table></app-clock-table>
</div>



<footer class="site-footer">

    <div class="footer-text">
        <h4>Hackweek Sept 2019</h4>
        <!-- <a href="">Hackweek</a> Sept 2019 -->
        <!-- <div class="footer-tagline">
            Strengthen.Inspire.Dream.Do.Drive.Enjoy.
        </div> -->
    </div>
</footer>