<div sprk-u-JavaScript>
    <button (click)="clockIn(); ngOnInit(); pauseTimer()" class="sprk-c-Button buttonClockIn" [attr.disabled]="serveTime.clockedIn ? 'disabled': null"
        [ngClass]="{'sprk-is-Disabled':serveTime.clockedIn}">Clock In</button>
    <button (click)="clockOut(); startTimer()" class="sprk-c-Button sprk-is-Disabled buttonClockOut"
        [attr.disabled]="serveTime.clockedIn ? null: 'disabled'" [ngClass]="{'sprk-is-Disabled':!serveTime.clockedIn}">Clock Out</button>
</div>
<div>
    <!-- <label>clock:
        <input [(ngModel)]="totalTime"/>
    </label> -->
</div>