<div class="split-header split-header--bottom-spacing">
    <h2 class="split-header__header">Punch History</h2>
  </div>
  
<div _ngcontent-qyq-c0="" class="info-container">
    <div _ngcontent-qyq-c0="" class="info-message">For official time records, please review your time entries and totals in
        <a href="http://shorty/WorkDayTimeSheetURL" target="_blank" class="workday-link"> Workday.</a> 
        If Workday is under maintenance then your punches will not appear until after it is complete.
    </div>
</div>
 
<div class="history-info-container">
    <span class="left-text">Time Punches from {{dateNow | date: 'EEEE LLL d'}} to {{uptoDate | date: 'EEEE LLL d'}}.</span>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
            <!--<thead>    
                    <tr class="history-cols">    
                        <th class="date-column"><a href="/Punch/Time?historyRecordsDesc=False" style="color: white; --darkreader-inline-color:#ffffff;" data-darkreader-inline-color="">Date</a></th> 
                        <th class="clock-in-column">Clocked In (EST)</th>  
                        <th class="clock-out-column">Clocked Out (EST)</th> 
                    </tr>    
            </thead> -->
            <tr>
                <th *ngFor="let col of columns">
                    {{col}} 
                </th>
            </tr>
            <tr *ngFor="let row of serveTime.rows">
                <td *ngFor="let col of columns">
                    {{row[col]}}
                </td>
            </tr>
    </table>
</div>