html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

main {
	-webkit-box-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
}

h1 {
	margin: .67em 0;
	font-size: 2em
}

.color-bar {
	-webkit-box-flex: none;
	-ms-flex: none;
	-webkit-flex: none;
	flex: none;
	background: linear-gradient(to right, #6c9f2e 0, #6c9f2e 16.667%, #2081bf 16.667%, #2081bf 33.334%, #0c4569 33.334%, #0c4569 50%, #ff9b00 50%, #ff9b00 66.667%, #b5121b 66.667%, #b5121b 83.334%, #551387 83.334%, #551387);
	display: block;
	height: 20px;
	width: 100%
}

.container {
	padding-right: 20px;
	padding-left: 20px;
	padding-top:20px;
	padding-bottom:20px;
	margin-right: auto;
	margin-left: auto;
	margin-top:20px;
	margin-bottom:20px;
	background-color: rgba(191,236,229, .4);
	border-radius: 10px;
	border: 2px solid rgba(0, 0, 0, .05);
}

.site-header{
	// -webkit-box-flex: none;
	// -ms-flex: none;
	// -webkit-flex: none;
	// flex: none
	background-color: rgba(164,199,225,.4) !important;
	//height: 150px;
}

// .site-footer{

// }


.menu-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px
}

.logo-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 20px;
}

.history-info-container {
	font-size: 14px;
	color: #0c4569;
	font-family: "Quatro-Slab", "Lucida Bright", "times new roman", serif
}

.info-container {
	display: flex;
	align-items: center
}

.info-container:before {
	font-family: 'FontAwesome';
	// content: url(/assets/images/anonAvatar.png);
	background-image: url(/assets/images/info.png);
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	content:"";
	color: #2081bf;
	font-size: 32px;
	margin-right: 10px
}

.info-container .info-message {
	font-weight: bold;
	color: #0c4569;
	font-size: 15px;
	align-items: center
}
// .tracking-container {
// 	// display: flex;
// 	// flex-direction: row;
// 	// justify-content: space-between
// }

.site-header a,
.site-footer a {
	text-decoration: none
}

.site-header a:hover,
.site-footer a:hover {
	text-decoration: underline
}

.site-header,
.site-footer {
	-webkit-box-flex: none;
	-ms-flex: none;
	-webkit-flex: none;
	flex: none
}

.site-footer {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 60px;
	margin-bottom: 15px;
	display: block;
	text-align: center
}

.site-footer:before {
	border-top: 2px solid #e5e5e5;
	width: 100%;
	content: "";
	margin-bottom: 30px;
	display: block
}

@media(max-width:343px) {
	.site-footer {
		padding-left: 0;
		padding-right: 0
	}
}

.footer-text {
	position: relative;
	padding-left: 3em;
	color: #5a5a5a;
	font-family: "Quatro-Slab", "Lucida Bright", "Times New Roman", serif;
	font-weight: bold;
	font-size: 14px;
	display: inline-block
}

.footer-tagline {
	font-size: 12px
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

.logo-text {
	margin-left: 10px;
	font-weight: bold;
	color: #0c4569;
	font-size: 28px;
	margin-top: 15px
}

.profile-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 20px;
}

.profile-container .profile-image__container {
	width: 100px; //change avatar size
	height: 100px; //change avatar size
	border-radius: 50%;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	overflow: hidden;
	border: 1px solid #ababab
}

.profile-container .profile-image__container .profile-image {
	width: 100px; //change avatar size
	height: 100px; //change avatar size
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 50%
}

.profile-container .profile-image__name-container {
	margin-left: 10px
}

.profile-container .profile-image__name-container .profile-image__name-label {
	font-weight: bold;
	color: #0c4569
}

.profile-container .profile-image__name-container .profile-image__name-label>.badge {
	margin-left: 20px
}

.profile-container .profile-image__name-container .profile-image__sub-label h4{
	color: #aaa !important;
}

.split-header {
	padding-bottom: 5px;
	display: table;
	width: 100%;
	border-bottom: 2px solid #ddd
}

.split-header.split-header--no-border {
	border: none
}

.split-header.split-header--top-spacing {
	padding-top: 30px
}

.split-header.split-header--bottom-spacing {
	margin-bottom: 20px
}

.split-header__header{
	padding-bottom: 10px;
}

.split-header .split-header__header {
	display: table-cell;
	vertical-align: bottom;
	margin-bottom: 10px;
	
}

.split-header .split-header__link-container {
	display: table-cell;
	vertical-align: bottom;
	text-align: right;
	min-width: 60px
}

.split-header .split-header__tagline {
	display: table-footer-group;
	font-size: 14px;
	color: #222;
	font-family: "Quatro-Slab", "Lucida Bright", "times new roman", serif;
}

.tracking-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Quatro-Slab", "Lucida Bright", "times new roman", serif;
	color: #0c4569;
	font-weight: bold
}

h1 {
	font-size: 42px;
	line-height: 1.3
}

h2 {
	font-size: 26px;
	line-height: 1.3
}

h3 {
	font-size: 21px;
	line-height: 1.3
}
